.container {
	font-family: serif;
}

.outer {
	border: 1px solid grey;
	border-radius: 10px;
	margin-top: 50px;
	padding: 40px
}

.question {
	font-size: 4rem;
}

.result {
	color: red;
	font-size: 3rem;
	margin-top: 20px;
}

.forwardnav {
	transform: rotateY(180deg);
}

img {
	width: 25px;
}

button	{
	border: 1px solid grey;
	border-radius: 15px;
	background-color: #e7e7e7;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
	margin: 0 10px;
	font-size: 2rem;
	padding: 25px;
}
